*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
}

h1{
    color: white;
    text-transform: uppercase;
    font-size: 250%;
    margin-bottom: 15px;
}

p{
    color: white;
    font-size: 125%;
}

section{
    padding: 50px;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), 
    url(../img/hero.jpg); 
                                      
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
}

.column{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
}



button{
    outline: none;
    padding: 15px 35px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 100%;
}

button:hover{
    background: rgb(207, 207, 207);
}

input{
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px 25px;
    border: solid 1px rgba(0,0,0,0.27);
    outline: none; 
    width: 100%;
    text-align: center;
    font-size: 120%;
}
