*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: lato;
   background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), 
   url(../img/hero.jpg); 
   background-attachment: fixed;
   /* height: 100vh; */
   background-position: center;
   /* background-size: cover;  */
   /* background-repeat: no-repeat; */
}

h1{
    color: white;
    text-transform: uppercase;
    font-size: 350%;
    margin-bottom: 15px;
    font-weight: 300;
}

p{
    color: white;
    font-size: 125%;
}

section{
    padding: 50px;
    
}

.column{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
}



button{
    outline: none;
    padding: 15px 35px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 100%;
}

button:hover{
    background: rgb(207, 207, 207);
}

input{
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px 25px;
    border: solid 1px rgba(0,0,0,0.27);
    outline: none; 
    width: 100%;
    text-align: center;
    font-size: 120%;
}

.result-section {
    width: 50%;
    margin:0 auto;
}

.country-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 45px;
    /* border-radius: 20px; */
    color: white;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: 400;
}

.dark {
    background:rgba(0, 0, 0, 0.6); 
}

.light{
    background:rgba(0, 0, 0, 0.4); 
}

span {
    background: rgba(0, 0, 0, 0.4);

}